@import url(../styles/fonts.css);

.layout {
  width: 100vw;
  max-width: 1440px;
  padding: 40px;
  background: #fccd4d;
}

.header {
  display: inline-block;
  background: #f8b500;
  border-radius: 36px;
  padding: 18px 23px;
  position: absolute;
}

.headline1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
}
