.section {
  margin: 65px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form {
  display: inline-block;
  margin-right: 42px;
  align-self: flex-end;
}

.searchField {
  min-width: 655px;
  height: 62px;
  background: #F8B500;
  border-radius: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.searchFieldProper {
  background-color: transparent;
  height: 100%;
  border: none;
  outline: none;
  font-size: 36px;
  color: inherit;
}

.searchFieldProper::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #d3ae26;
}

.submitButton {
  background-color: #fccd4d;
  border: none;
  border-radius: 50%;
  margin-left: 33px;
  padding: 0;
  width: 50px;
  height: 50px;
}


.submitButton:hover {
  transform: scale(1.1);
}

.submitButton:active {
  transform: scale(1);}

.openerIcon {
  width: 70%;
  height: 70%;
}

@media (max-width: 1250px) {
  .section {
    margin: 100px 0 65px 0;
  }

  .form {
    margin-right: 0;
  }

  .submitButton {
    margin-left: 2px;
  }
}

@media (max-width: 735px) {
  .searchField {
    min-width: unset;
    width: unset;
    padding: 0 20px 0 7px;
  }

  .searchFieldProper {
    font-size: 24px;
  }

  .submitButton {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 450px) {
  .searchFieldProper {
    font-size: 20px;
  }
}
